<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #navbar {
            background-color: #336699;
            padding: 12px;
        }

        .username {
            color: #CC6600;

        }

        .button {
            display: inline-block;
            background: #CCCC33;
            text-align: center;
            padding: 6px;
            width: 60px;
            text-decoration: none;
            border-radius: 10px;
            margin-left: 12px;
        }
    </style>
</head>

<body>
    <div id="navbar">
        {% if user.is_authenticated %}
        使用者:<span class="username">{{user.username}}</span>

        <a class="button" href="{% url 'logout' %}">登出</a>
        {% else %}
        <a class="button" href="{% url 'login' %}">登入</a>
        <a style="background-color: #CCCCCC;" class="button" href="{% url 'register' %}">註冊</a>
        {% endif %}
        <a style="background-color: #CCFFFF;" class="button" href="/">回首頁</a>
    </div>

    {% block content %}

    {% endblock %}

    <div style="color: red;">{{msg}}</div>

</body>

</html>